<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>
<!-- mail($invoice[0]->email, "inoice paid Successfully","Inovie paid Successfully");
'.$invoice[0]->email;

$this->db->select('quatation.*, customera.contactp,customera.email');
		$this->db->join('customera', 'customera.id = quatation.customer', 'inner');
		$this->db->from("quatation");
		$this->db->where("quatation.id", $id);

		$query = $this->db->get();
		if($query->num_rows() ==1){
			return $query->result();
		}
		
 -->